.admin-page {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box {
    display: flex;
    align-items: center;
}

.admin-container {
    height: calc(100vh - 4px);
    display: flex;

}

.menubar {
    height: 100%;
    width: 200px;
    background-color: blueviolet;
}

.menubar .btn {
    border: 1px solid none;
    width: 200px;
    height: 50px;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-size: 15px;
    font-style: italic;
    font-variant: normal;
    font-weight: 700;
    line-height: 16.5px;
}

.content {
    color: rgb(187, 79, 187);
    flex: 1;
    background-color: aquamarine;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}